@model MyOnlineShop.Models.Mobile

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mobile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garanty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garanty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discribtor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discribtor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimensions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimensions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SIMcardsDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SIMcardsDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialFeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialFeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSimCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSimCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessorType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPUFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPUFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphiteProcessore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphiteProcessore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalMemory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalMemory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ramsize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ramsize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemoryCardSupport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemoryCardSupport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenTechnology)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resulotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resulotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PixelDensity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PixelDensity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenToBodyRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenToBodyRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunicationNetworks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunicationNetworks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwoG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwoG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreeG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreeG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunicationTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunicationTechnology)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunicationPortals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunicationPortals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BluetoothVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BluetoothVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureResolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureResolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CameraAbility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraAbility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelfiCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelfiCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BattreySpecifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BattreySpecifications)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
